#CommonServices .TopContainer {
    padding: 8rem 8rem;
}

.ImageHeightContainer {
    height: 200vh;
}

@media (max-width:970px) {
    #CommonServices .TopContainer {
        padding: 8rem 1rem;
    }

    .ImageHeightContainer {
        height: 100vh;
    }
}


.scroll-image {
    position: sticky;
    top: 15%;
    width: 100%;
    margin: auto;
    display: flex;
    transition: width 0.3s ease, border-radius 0.3s ease;
    scroll-behavior: smooth;
}

/* .HeadingTagsContainer{
    display: flex;
   align-items: start;
   width: 100%;
   justify-content: space-between;
}
.HeadingTagsContainer>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} */
.keywordContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.keyword {
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.409);
    margin: 5px 5px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    transition: .5s;
}

.keyword:hover {
    background-color: orange;
    border: 0.5px solid rgba(255, 255, 255, 0.409);
    margin: 5px 5px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    color: black;
    transition: .5s;
}

.DescriptionContainer {
    margin-top: 5rem;
}

.ProcessDefined {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.ProcessDefined>div {
    background-color: transparent;
    min-height: 20vh;
    width: 100%;
    margin: 0px 20px;
    position: relative;
}

.ProcessDefined>div:first-child {
    margin-left: 0px;
}

.ProcessDefined>div:last-child {
    margin-right: 0px;
}

.ProcessDefined div::before {
    content: "";
    background-color: white;
    position: absolute;
    height: 7px;
    border-radius: 50%;
    width: 7px;
    margin-top: -3px;

    /* top: -10px;
    left: -5px; */
}

.ProcessDefined>div h4 {
    font-weight: 400;
    text-transform: uppercase;
    color: #ffa401;
}

.ProcessDefined img {
    width: 78px;
    aspect-ratio: 3 / 2;
    object-fit: contain;
    position: absolute;
    top: -59px;
    left: -20px;
}

.CommonServicesImageContainer img {
    width: 80%;
    /* border-radius: 10px; */
    border: 1px dashed #ffa401;
    padding: 10px;
}

.RightSideContentInfo {
    width: 100%;
    height: 100%;
    /* padding: 0px 40px; */
    display: flex;
    align-items: center;
}


.ServicesExlainContainer .ant-row {
    padding: 3rem 0rem;
}

.BrandingServiceExplaination {
    padding: 30px 0px;
}

@media (max-width:769px) {


    .BrandingServiceExplaination {
        padding: 20px 0px;
    }

    .RightSideContentInfo p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .ProcessDefined {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        border-top: 0px;
        margin-top: 5rem;
        margin-bottom: 2rem;

    }

    .ProcessDefined>div:first-child {
        margin-left: 20px;
    }

    .ProcessDefined div::before {
        content: "•";
        background-color: transparent;
        position: absolute;
        top: -8px;
        left: -25px;
    }

    .ProcessDefined>div h4 {
        font-weight: 400;
        margin: 0px;
    }

    .CommonServicesImageContainer img {
        width: 100%;
        /* border-radius: 10px; */
        border: 1px dashed #ffa401;
        padding: 0px;
    }


}