.serviceContainer {
  margin: 100px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TitleContainer h2 {
  color: orange;
}

.listContainer ul {
  padding: 0;
  margin: 0;
  border-bottom: 1px orange solid;
}

.listContainer ul li {
  display: inline-block; /* Display items horizontally */
  font-size: 20px;
  padding: 10px;
  text-align: center; /* Center align the image and text */
  color: orange ;
}

.listContainer ul li img {
  display: block;
  width: 100px; /* Adjust image size */
  height: auto;
  margin: 0 auto 10px; /* Center and add space below the image */
}

.listContainer ul li span {
  display: block;
  margin-top: 10px; /* Space between image and text */
}
.DescriptionContainer p{
    text-align: center;
    padding: 10px 200px;
}
.clientLeftContainer{
    border-radius: 30px;
    border: 1px solid orange;
}
.clientRightContainer{
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    /* padding: 100px; */
}
.clientRightContainer h1{
    color: orange;
    font-size: 3rem;
    font-weight: 400;
}
.logoContainerClient{
    /* background-color: white; */
    /* border-radius: 50%; */
    width: 150px;
    /* height: 150px; */
}
.logoContainerClient img{
    object-fit: cover;
    aspect-ratio: 3/2;
    width: 100%;
}
@media (max-width:576px){
  .listContainer ul li{
    padding: 0px;
  }
  .listContainer ul li img{
    width: 40px;
    margin: 0;
  }
  .DescriptionContainer p{
    padding: 0 20px;
  }
  .clientRightContainer{
    padding: 50px;
    text-align: center;
  }
}