.AgiluxHomeContainer video {
    width: 100%;
    height: 100%;

}

.BlackOverlay {
    background-color: rgba(0, 0, 0, 0.758);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}

.AgiluxHomeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.AgiluxHomeContentContainer {
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 100vh;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AgiluxHomeContentContainer .mySwiper {
    height: 23px;
    width: 100%;
    color: white;
}


.AgiluxHomeContentContainer .TextAnimated {
    text-transform: uppercase;
}

.ContactUsbtn a {
    display: flex;
    gap: 20px;
    transition: .5s;
    align-items: center;

}

.ContactUsbtn a svg {
    transition: .5s;
}

.ContactUsbtn a:hover svg {
    transform: translateX(10px);
    transition: .5s;
}

.HomePageAgiluxHeading {
    font-size: 50px;
    font-weight: 100;
}

.AgiluxHomeContainer>div {
    display: flex;
    justify-content: center;
}

/* Fade-in effect */
.fade-in {
    opacity: 1;
    transition: 1s;
}

/* Fade-out effect */
.fade-out {
    opacity: 0;
    transition: 1s;
}

@media (max-width:769px) {

    .AgiluxHomeContainer {
        position: relative;
        display: flex;
        justify-content: center;
        height: 80vh;
    }

    .AgiluxHomeContentContainer .mySwiper {
        height: 50px;
    }

    .AgiluxHomeContentContainer {
        position: absolute;
        z-index: 5;
        width: 90%;
        height: 100vh;
        top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}