.AgiluxHomeContainer video {
    width: 100%;
    height: 100%;

}

.BlackOverlay {
    background-color: rgba(0, 0, 0, 0.086);
    position: absolute;
    height: 100%;
    bottom: 0px;
    width: 100%;
    top: 0px;
}

.AgiluxHomeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.AgiluxHomeContentContainer {
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 80%;
    top: 0%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.AgiluxHomeContentContainer .mySwiper {
    height: 23px;
    width: 100%;
}

#SwiperText{
    color: black;
}

.AgiluxHomeContentContainer .TextAnimated {
    text-transform: uppercase;
}

.ContactUsbtn a {
    display: flex;
    gap: 20px;
    transition: .5s;
    align-items: center;
    color: black;

}

.ContactUsbtn a svg {
    transition: .5s;
}

.ContactUsbtn a:hover svg {
    transform: translateX(10px);
    transition: .5s;
}

.HomePageAgiluxHeading {
    font-size: 50px;
    font-weight: 100;
}

.AgiluxHomeContainer>div {
    display: flex;
    justify-content: center;
}

/* Fade-in effect */
.fade-in {
    opacity: 1;
    transition: 1s;
}

/* Fade-out effect */
.fade-out {
    opacity: 0;
    transition: 1s;
}

#MobileOnly {
    display: none;
}

#PcOnly {
    display: block;
}
.ant-drawer-body{
    display: flex;
    align-items: center;
}

.ant-collapse-header-text a,
.ant-collapse-header-text{
    font-size: 30px;
}
@media (max-width:769px) {
    .ContactUsbtn a {
        display: flex;
        gap: 20px;
        transition: .5s;
        align-items: center;
        color: rgb(255, 255, 255);
    
    }
    #SwiperText{
        color: rgb(255, 255, 255);
    }
    #PcOnly {
        display: none;
    }

    #MobileOnly {
        display: block;
    }

    .video-container {
        height: 100vh;
        width: 100%;
    }

    .AgiluxHomeContainer {
        position: relative;
        display: flex;
        justify-content: center;
        /* height: 80vh; */
    }

    .AgiluxHomeContentContainer .mySwiper {
        height: 50px;
    }

    .AgiluxHomeContentContainer {
        position: absolute;
        z-index: 5;
        width: 90%;
        height: 100vh;
        top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}