.AgiluxProcessContainer {
    
    position: absolute;
    right: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* top: 0px; */
}
.anothercontainer{
    width: 80%;
}

.AgiluxProcessContainer h2 {
    font-size: 60px;
    font-weight: 100;
    /* margin: 10px 0px; */
    margin-top: 0px;
    margin-bottom: 10px;
}

.BackOverlayImage img {
    width: 100%;
}

.BackOverlayImage {
    position: relative;
    display: flex;
    align-items: center;
}

.BackOverlayImage .BlackOverlay {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}

.AgiluxProcessContainer .mySwiper {
    width: 100%;
}
.SwiperContentContainer h3{
    font-size: 30px;
}
.SwiperContentContainer{
    width: 70%;
}
@media (max-width:769px){
    .anothercontainer{
        width: 100%;
    }
    .SwiperContentContainer{
        width: 100%;
    }
}