.WhyUsAnimatedCards {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AnimatedCardWhyUs {
    width: 40%;
    margin: 20px 0px;
    padding: 0rem 1.5rem;
}

.AnimatedCardWhyUs:nth-child(even) {
    margin-top: 6rem;
    /* Additional margin for even cards */
}

.AgiluxWhyUsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.WhyUsAgilux {
    padding: 0rem 8rem;
}

.WhyUsAgilux h2 {
    font-size: 60px;
    font-weight: 100;
    /* margin: 10px 0px; */
    margin-top: 0px;
    margin-bottom: 10px;
}

.WhyUsAgilux p {
    position: relative;
}

.WhyUsAgilux p:first-child:after {
    /* position: absolute;
    margin-top: -10px; */
    margin: 10px 0px;
    right: 0px;
    content: '';
    display: block;
    /* Make the pseudo-element a block */
    width: 50px;
    /* Set the desired width of the line */
    height: 2px;
    /* Thickness of the line */
    background-color: rgba(255, 255, 255, 0.648);
    /* Color of the line */
}

@media (max-width:769px) {
    .WhyUsAgilux {
        padding: 0rem 1rem;
    }

    .WhyUsAnimatedCards {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }

    .AnimatedCardWhyUs {
        width: 100%;
        padding: 0rem 0rem;
        margin-bottom: 30px;
    }

    .AnimatedCardWhyUs:nth-child(even) {
        margin-top: 0px;
    }
}