.AboutInfoContainer {
    padding: 0rem 8rem;
}
.OutleadAboutUsContainer .TopContainer{
    
    background-image: url("../../../public/Outlead\ Solutions\ Company\ Portfolio\ \(1\).png");
    background-size: cover;
    background-position: center;
}

@media (max-width:769px){
    .AboutInfoContainer {
        padding: 0rem 1rem;
    }
    .TopContainer{
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem 1rem;
    }
}