.ProjectsCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ProjectCard {
    width: 40%;
    margin: 20px 0px;
    padding: 0px 2rem;
}

.ProjectCard:nth-child(even) {
    margin-top: 7rem;
}

.CardContinerPadding {
    padding: 0rem 8rem;
}

.ProjectimageContiner {
    height: 300px;
    margin: 20px 0px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.TopContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 8rem;
}

.TopContainer h2 {
    font-size: 60px;
    font-weight: 100;
    /* margin: 10px 0px; */
    margin-top: 0px;
    margin-bottom: 10px;
}