.AgiluxLogoAnimated {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}

.AgiluxLogoAnimated h4::first-letter {
    background-color: white;
    color: black;
    padding: 5px 13px;
    border-radius: 50%;
    font-weight: 500;
}

.AgiluxLogoAnimated h4 {
    /* letter-spacing: 3px; */
    font-size: 25px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0px;
}

.ant-drawer-content {
    background: rgba(0, 0, 0, 0.564) !important;
    backdrop-filter: blur(10px) !important;
    color: white;

}

.AgiluxNavigation {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 0rem;
    transition: all 1s ease-in-out;
    /* Smooth transition for opacity, background, and transform */
    background-color: transparent;
    transform: translateY(0);
    /* Initial position (absolute) */
    opacity: 1;
}

.AgiluxNavigation.scrolled {
    position: sticky;
    top: 19px;
    width: 100%;
    padding: 0rem 0rem;
    transform: translateY(-20px);
    /* Smooth transition upwards */
    background-color: rgba(0, 0, 0, 0.865);
    /* Sticky background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: 1s;
    opacity: 1;
}

.ExploreTabs {
    cursor: pointer;
}

.NavigationChildLinks p {
    margin: 10px 0px;
    cursor: pointer;
}

.ant-drawer-body button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    padding: 7px 11px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
}

.DrawerTitle h3 {
    font-weight: 500;
    margin: 0px;
}

.DrawerTitle h3::first-letter {
    background-color: white;
    color: black;
    padding: 5px 12px;
    border-radius: 50%;
}


.NavigationChildLinks p:hover {
    transform: translatex(8px);
    transition: .5s;
    /* Move the item up by 20px */
}

.NavigationChildLinks p {
    transition: .5s;
}

.ChildDrawerContent p {
    margin: 20px 0px;
}

.ChildDrawerContent {
    margin-top: 5rem;
    height: 100%;
}

.ProjectsLinks p {
    margin: 10px 0px;
}

@media (max-width:768px) {
    .AgiluxLogoAnimated {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
    }
}